/* #region googlefonts */

@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* #endregion googlefonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  background-size: cover;
  border-radius: 16px;
}

hr {
  border: 0;
  border-top: 1px solid #802020;
  margin-block-end: 0.5rem;
}

#iframe_frame,
video,
iframe {
  display: block;
  width: 100%;
  max-width: 720px;
  aspect-ratio: 16/9;
}

section:not(#landing) {
  display: grid;
  grid-template-columns: 12px 1fr 12px;
}
section:not(#landing) > * {
  grid-column: 2/3;
}

article {
  padding-block: 6rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

#landing {
  background-image: url(../resource/baggrundsbillede.webp);
  background-size: cover;
  background-position: 0 50%;
  display: grid;
  grid-template-rows: 8fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  height: clamp(30vh, 25vh + 10vw, 40vh);
}

h1 {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: clamp(6rem, 4rem + 8vw, 10rem);
  font-family: "Allison", cursive;
  color: #ff2020;
}

#introduction {
  width: 100%;
}

h2,
h3,
p {
  font-family: "Outfit", sans-serif;
  color: #333;
}

h2 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}
h3 {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}
p {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

#portrait {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#video_section {
  width: 100%;
  min-height: 100vh;
  background-color: #ff2020;
}

.video_flex {
  display: flex;
  flex-wrap: wrap;
}

.video_flex h2,
.video_flex h3,
.video_flex p {
  color: #e8e8e8;
}

#images > img {
  margin-block: 0.5rem;
}

#layout_diagram {
  position: absolute;
  border-radius: 0;
  padding-block: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

/* #region responsive */

@media only screen and (min-width: 768px) {
  section:not(#landing) {
    display: grid;
    grid-template-columns: 12px 1fr minmax(0, 1200px) 1fr 12px;
  }
  section:not(#landing) > * {
    grid-column: 3/4;
  }

  #portrait {
    margin-inline: auto 0;
  }

  .col_left {
    max-width: 460px;
    margin-block: auto;
  }

  #gallery article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4rem;
  }

  #images {
    display: grid;
    grid-template-columns: 21fr 43fr 21fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  #image_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #image_2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  #image_3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #image_4 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  #images > img {
    margin-block: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1220px) {
  .col_left {
    display: block;
    max-width: 550px;
  }

  #video_section {
    padding-top: 1.5rem;
  }

  .video_flex {
    display: flex;
    max-width: 1200px;
    flex-flow: wrap-reverse;
  }

  .content {
    display: grid;
    max-width: 460px;
    order: 2;
    place-content: center;
  }
}
/* #endregion responsive */
